
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ventana-anuncio {
  height: 40vmin;
  pointer-events: none;
  background-color: #bbbdbe;
  border:solid 1px black;
  width: 50%;
}

.contenedor-productos{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 2rem;
  margin-left: 1rem;
  width: 100%;
  color: black;
}

.tachado {
  text-decoration: line-through;
  color: #888;
  font-size: 1rem;
}

.descuento {
  color: red;
  font-weight: bold;
  font-size: 1.4rem;
}

.normal{
  font-size: 1.2rem;
}

.precio-container{
  width: 50%;

  margin-bottom: 0.5rem;
}

.no-existe {
  display: none;
}

.ProductList{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  max-height: 10rem;
}

.contenedor-productos-lista{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 7.5%;
  align-items: center;
  width: 85%;
  gap: 1rem;
  height: 10rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin-bottom: 1rem;
}
.contenedor-productos-lista::-webkit-scrollbar {
height: 8px;
}
.contenedor-productos-lista::-webkit-scrollbar-thumb {
background: #106b09;
border-radius: 4px;
}

.ProductCard{
  background-color: aliceblue;
  border-radius: 30px;
  display: flex;
  color:black;
  border:black 2px solid;
  width: 25rem;
  overflow: hidden;
  margin-block: 0.5rem;
}

.ProductCard-imagen{
  max-width: 8rem;
  max-height: 100%;
  border-right:#04040437 0.5px solid;
}

.ProductCard-datos{
  display: block;
  width: 100%;
}

.ProductCard-datos-precio{
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.2rem
}

.ProductCard-btn{
  background-color: #1aa311;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.ProductCard-btn:hover {
  background-color: #010800;
}
