.App {
  text-align: center;
}

.ventana-anuncio {
  height: 40vmin;
  pointer-events: none;
  background-color: #bbbdbe;
  border:solid 1px black;
  width: 80%;
}



.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.contenedor-productos{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 2rem;
  margin-left: 1rem;
  width: 100%;
  color: black;
}

.App-link {
  color: #61dafb;
}



.rojo {
  color: red;
}

.verde {
  color: green;
}

.navbar {
  background-color: #1aa311;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  top: 0;
  width: 97.9%;
  max-height: 60px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content:first baseline;
  align-items: center;
  width: 100%;
  list-style-type: none;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  
}

.nav-item {
  margin-left: 0.5rem;
  margin-right: 0rem;
  color: #ffffff;
  text-decoration: none;
  padding: 1.5rem 1rem;
  transition: color 0.3s ease;
  border-radius: 10px;
}
.nav-item:hover{
  background-color: #106b09;
}

.ProductCard{
  background-color: aliceblue;
  border-radius: 30px;
  display: flex;
  color:black;
  border:black 1px solid;
  width: 25rem;
}

.ProductCard-imagen{
  max-width: 8.5rem;
  max-height: fit-content;
  margin: 0.5rem; 
  border-right:#04040437 0.5px solid;
}

.ProductCard-datos{
  display: block;
  width: 100%;
}

.ProductCard-datos-precio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.ProductCard-btn{
  background-color: #1aa311;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 0.6rem;
  text-decoration: none;
}

.ProductCard-btn:hover {
  background-color: #010800;
}


.App-footer{
  background-color: #1aa311;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  bottom: 0;
  width: 97.9%;
}